<h4 id="note-form-header">Add Note</h4>
<br>
<%= form_for [meeting, note], remote: true do |f| %>
	<div class="form-group">
		<%= f.collection_select :id, NoteType.all, :name, :name,
			{ include_blank: false, prompt: "select one" },
			{ class: "form-control" } %>
	</div>
	<br>
	<div class="form-group">
		<%= f.label :content, class: "sr-only" %>
		<%= f.text_area :content, class: "form-control", rows: 3,
										placeholder: "Content" %>
	</div>
	<p>
		<%= submit_tag "Create", class: "form-control btn btn-success",
														 disabled: false %>
	</p>
<% end %>
