<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<%= render "meetings/show_header", meeting: meeting %>
		<%= render "meetings/show_attendees", meeting: meeting %>
		<%= render "meetings/show_body", meeting: meeting %>
		<%= render "meetings/filtered_meeting", meeting: meeting,
																						note_type: note_type %>
		<%= render "meetings/show_create_edit_note_container" %>
	</div>
</div>

<footer class="navbar navbar-default navbar-fixed-bottom navbar-footer"
				role="navigation">
	<div class="center">
		<% @meetings.each_with_index do |m, i| %>
			<% if index == i %>
				<span class="filter-active">
			<% else %>
				<span>
			<% end %>
				<%= link_to meeting_show_filter_path(note_type: note_type, index: i),
					title: m.subject, remote: true do %>
					<%= render "notes/note_type_icons_default", note_type: note_type %>
					&nbsp;
				<% end %>
			</span>
		<% end %>
	</div>
 </footer>
