<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<%= render "meetings/show_header", meeting: meeting %>
		<%= render "meetings/show_attendees", meeting: meeting %>
		<%= render "meetings/show_pre", meeting: meeting %>
		<%= render "meetings/show_current", meeting: meeting %>
		<%= render "meetings/show_post", meeting: meeting %>
		<%= render "meetings/show_create_edit_note_container" %>
	</div>
</div>
