<div class="row" id="meeting-show-header">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="card" id="meeting-show-page">
			<div class="inline-block meeting-time">
				<small>
					<%= meeting.start_date.strftime("%I:%M %p") %>
					<br>
					<span class="medium-gray">
						<%= meeting.end_date.strftime("%I:%M %p") %>
					</span>
				</small>
			</div>
			<div class="inline-block card-left-padding">
				<%= shorten(meeting.subject) %>
				<br>
				<%= render "notes/note_type_icons", meeting: meeting %>
				<br>
			</div>
		</div>
		<div class="card">
			<p>
				<i class="fa fa-group"></i>
				Attendees (<%= num_attendees(meeting) %>)
			</p>
			<br>
			<p>
				<% if attendees_exist?(meeting) %>
					<% attendees(meeting).each_with_index do |name, i| %>
					<%= name %><%= "," unless last_item?(i, num_attendees(meeting)) %>
					<% end %>
				<% else %>
					<small class="medium-gray">None</small>
				<% end %>
			</p>
		</div>
		<div class="card">
			<div class="pull-right" id="pre-note-btn-container">
				<%= render "notes/note_crud_links",
					meeting: meeting,
					note_exists: meeting.has_pre_notes?,
					note_type: "Pre" %>
			</div>
			<p>
				<i class="fa fa-circle-o"></i>
				Pre Notes
			</p>
			<br>
			<p id="pre-note-body">
				<% if meeting.has_pre_notes? %>
					<%= meeting.pre_note_content %>
				<% else %>
					<small class="medium-gray">Empty</small>
				<% end %>
			</p>
			<% if meeting.has_current_notes? %>
				<br>
				<small class="medium-gray">
					Last updated:
					<%= time_ago_in_words(meeting.retrieve_note(1).updated_at) %> ago
				</small>
			<% end %>
		</div>
		<div class="card">
			<div class="pull-right" id="current-note-btn-container">
				<%= render "notes/note_crud_links",
					meeting: meeting,
					note_exists: meeting.has_current_notes?,
					note_type: "Current" %>
			</div>
			<p>
				<i class="fa fa-dot-circle-o"></i>
				Current Notes
			</p>
			<br>
			<p id="current-note-body">
				<% if meeting.has_current_notes? %>
					<%= meeting.current_note_content %>
				<% else %>
					<small class="medium-gray">Empty</small>
				<% end %>
			</p>
			<% if meeting.has_current_notes? %>
				<br>
				<small class="medium-gray">
					Last updated:
					<%= time_ago_in_words(meeting.retrieve_note(2).updated_at) %> ago
				</small>
			<% end %>
		</div>
		<div class="card">
			<div class="pull-right" id="post-note-btn-container">
				<%= render "notes/note_crud_links",
					meeting: meeting,
					note_exists: meeting.has_post_notes?,
					note_type: "Post" %>
			</div>
			<p>
				<i class="fa fa-circle"></i>
				Post Notes
			</p>
			<br>
			<p id="post-note-body">
				<% if meeting.has_post_notes? %>
					<%= meeting.post_note_content %>
				<% else %>
					<small class="medium-gray">Empty</small>
				<% end %>
			</p>
			<% if meeting.has_post_notes? %>
				<br>
				<small class="medium-gray">
					Last updated:
					<%= time_ago_in_words(meeting.retrieve_note(3).updated_at) %> ago
				</small>
			<% end %>
		</div>
		<div class="card create-edit-note-container">
			<small class="medium-gray">
				Tap "Add", "Edit", or "Delete" above to create, edit, or remove
				a Pre, Current, or Post note for this meeting.
			</small>
		</div>
	</div>
</div>
