<section id="header-container">
	<div class="row center">
		<div class="col-sm-6 col-sm-offset-3">
			<div id="today-link">
				<%= link_to meetings_path, remote: true do %>
					<h1><%= todays_date %></h1>
				<% end %>
			</div>
			<p>
				<% if session[:azure_access_token] %>
					Hi <%= session[:username] %>,
					you have <%= pluralize(num_meetings_for_today, "meeting") %> today.
				<% else %>
					<%= link_to "Please log in", get_login_url %> to view your meetings
					and manage your notes.
				<% end %>
			</p>
		</div>
	</div>
</section>

<section id="filter-container">
	<div class="row center">
		<div class="col-xs-3 medium-gray">
			<i class="fa fa-circle-o fa-2x"></i>
			<br>
			Pre
		</div>
		<div class="col-xs-3 medium-gray">
			<i class="fa fa-dot-circle-o fa-2x"></i>
			<br>
			Current
		</div>
		<div class="col-xs-3 medium-gray">
			<i class="fa fa-circle fa-2x"></i>
			<br>
			Post
		</div>
		<div class="col-xs-3 medium-gray">
			<i class="fa fa-sticky-note-o fa-2x"></i>
			<br>
			Notes
		</div>
	</div>
</section>
